<article id="<%= post.layout %>-<%= post.slug %>"
  class="post white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
	<section class='meta'>
	<h2 class="title">
  	<a href="<%- url_for(post.path) %>">
    	<%= post.title %>
    </a>
  </h2>
	<time>
	  <%= date(post.date, 'MMM D, YYYY') %>
	</time>
	<%- partial('categories',{post:post}) %>
	</section>
	<% if(post.toc!==false){ %>
		<section class="toc-wrapper"><%- toc(post.content) %></section>
	<% } %>
	<section class="article typo">
  	<div class="article-entry" itemprop="articleBody">
    	<%- post.content %>
  	</div>
	  <% if (post.tags && post.tags.length) { %>
	  <div class="article-tags tags">
      <% post.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
    <% } %>
		
	<% if(post.prev || post.next){ %>
		<div class="art-item-footer">
				<% if(post.prev){ %>
					<span class="art-item-left"><i class="icon icon-chevron-thin-left"></i>prev：<a href="<%=url_for(post.prev.path)%>" rel="prev"  title="<%=post.prev.title%>">
						<%= post.prev.title %> 
					</a></span>
				<% } %>
				<% if(post.next){ %>
					<span class="art-item-right">next：<a href="<%=url_for(post.next.path) %>" rel="next"  title="<%=post.next.title %>">
						<%=post.next.title  %>
					</a><i class="icon icon-chevron-thin-right"></i></span>
				<%} %>
		</div>
	<%} %>
	</section>
	<% if (post.comments && config.disqus_shortname){ %>
		<section id="comments">
			<div id="disqus_thread"></div>
		</section>
	<% } %>
	<div class="comment"></div>
</article>
<script>
	window.subData = {
		title: '<%= post.title %>',
		tools: true
	}
</script>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="https://cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Valine 的核心代码库-->
<%- js('js/Valine.min.js') %>
<script>
	new Valine({
		// AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
		av: AV,
		el: '.comment',
		emoticon_url: 'https://cloud.panjunwen.com/alu',
		emoticon_list: ["吐.png", "期待.png", "高兴.png", "吐血倒地.png", "哭泣.png", "欢呼.png"],
		app_id: 'dEN3oH01uVTVRJFwuWKzucX3-gzGzoHsz', // 这里填写上面得到的APP ID
		app_key: 'l11XssvYyHKpzcePOV03e2WJ', // 这里填写上面得到的APP KEY
		placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!', // 留言框占位提示文字
	});
</script>