<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%
    var title = page.title;
    if (is_archive()) {
      title = 'Archives';
      if (is_month())
        title += ': ' + page.year + '/' + page.month;
      else if (is_year())
        title += ': ' + page.year;
    }
    else if (is_category())
      title = 'Category: ' + page.category;
    else if (is_tag())
      title = 'Tag: ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%= config.description %>" />
  <meta name="keywords" content="<%=(config.keywords||[]).join(',') %>" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%- favicon_tag(config.favicon) %>
  <%- feed_tag(config.feed.path, {title: config.title}) %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({
    twitter_id: theme.twitter,
    google_plus: theme.google_plus, 
    fb_admins: theme.fb_admins, 
    fb_app_id: theme.fb_app_id}) %>
    
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Titillium+Web" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href='//cdn.bootcss.com/node-waves/0.7.5/waves.min.css' rel='stylesheet'>
  <%- css('style.css') %>
  <style>
    *{margin:0;padding:0;}
    img{border:0 none;}
    body{background:#eee;}
    .m-box{margin:0 auto;display:inline-block;padding:20px;background:#fff;}
    .m-box p{margin:0 0 10px;}
    .m-box .icn a{display:block;width:55px;height:35px;background:url('http://l.bst.126.net/rsc/img/weibo.png?035') no-repeat;}
    .m-box .icn .wb1{background-position:10px -216px;}
    .m-box .icn .wb2{background-position:-190px -216px;}
    .m-box .icn .wb3{background:url(http://l.bst.126.net/rsc/img/postshare/tieba24.png) 15px 0 no-repeat;}
    .m-box .icn .wb4{background-position:-88px -215px;}
    .m-box .icn .wb5{background-position:-138px -216px;}
    .m-box .icn .wb6{background-position:-245px -216px;}
    .m-box .icn .wb7{background-position:-300px -216px;}
    .m-box .icn .wb8{background-position:-355px -216px;}
    .m-box .icn .wb9{background-position:-415px -215px;}
  </style>
  <script>
    function setLoadingBarProgress(num) {
      document.getElementById('loading-bar').style.width=num+"%";
    }
  </script>
</head>
